html{
    min-height: 100vh;
}
div.home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    align-self: center;
}

.home > div{
    display: flex;
    flex-direction: column;
}
.home > p:first-of-type{
    color: #61ADE6;
}

.home > p{
    width: 75%;
    text-align: center;
    font-size: 1.8em;
}

h1{
    position: relative;
    left: 8%;
    top: 5vh;
    text-decoration: underline;
    width: fit-content;
    height: fit-content;
    font-size: 3em;
    margin-block: 0;
}

.home > button{
    background-color: #00A1FF;
    color: white;
    font-size: 1.8em;
    border-radius: 8px;
    border-bottom-color: #00A1FF;
    margin-top: 2%;
    border: none;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 1;
}

img{
    margin-top: 10vh;
    height: auto;
    width: 40%;
}