#titreOver{
    font-size: 3em;
    width: 100%;
    align-self: center;
    left: 0;
    text-align: center;
}

div.center.over{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.over{
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100vh;
}

.over > p {
    font-size: 2em;
    width: 70%;
    text-align: center;
}

button.over{
    font-size: 1.3em;
    align-self: center;
    border-radius: 8px;
    border: none;
    background-color: white;
}

#meilleurScore{
    color: #00a9f9;
}

#score{
    color: #56BD5A;
}